# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit Secrets
.streamlit/secrets.toml

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/
